{% extends "menu.html" %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}
<section class="auth-section">
    <div class="auth-container">
        <h2 class="auth-titulo">Iniciar sesión</h2>
        <form class="auth-form" action="{{ url_for('login') }}" method="POST">
            <input class="auth-input" type="email" name="email" placeholder="Correo electrónico" required>
            <input class="auth-input" type="password" name="password" placeholder="Contraseña" required>
            <button class="auth-boton" type="submit">Entrar</button>
        </form>
        <div class="auth-link">
            ¿No tienes una cuenta? <a href="{{ url_for('register') }}">Regístrate</a>
        </div>
    </div>
</section>
{% endblock %}
