{% extends "menu.html" %}

{% block title %}Registrarse{% endblock %}

{% block content %}
<section class="auth-section">
    <div class="auth-container">
        <h2 class="auth-titulo">Registrarse</h2>
        <form class="auth-form" action="{{ url_for('register') }}" method="POST">
            <input class="auth-input" type="text" name="username" placeholder="Nombre de usuario" required>
            <input class="auth-input" type="password" name="password" placeholder="Contraseña" required>
            <button class="auth-boton" type="submit">Registrarse</button>
        </form>
        <div class="auth-link">
            ¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Inicia sesión</a>
        </div>
    </div>
</section>
{% endblock %}
